# Backend API URL
# Uncommemt this if you want to use this ip as backend server
# NEXT_PUBLIC_BACKEND_URL=http://44.211.226.67:3009

NEXT_PUBLIC_BACKEND_URL=https://hcss.cs.purdue.edu/healthChatbot-backend
FORGE_KEY="FORGE_KEY_HERE"

MILVUS_URI="YOUR_MILVUS_URI_HERE"
MILVUS_TOKEN="YOUR_MILVUS_TOKEN_HERE"

OPENAI_EMBEDDING_MODEL=text-embedding-3-small
# Need OpenAI API Key to access milvus search embeddings
OPENAI_API_KEY="YOUR_OPENAI_KEY_HERE"