# IMPORTANT: THE BACKEND URL NEEDS TO RUN THROUGH /healthChatbot-backend FOR PROPER ROUTING. 

NEXT_PUBLIC_API_URL ="https://hcss.cs.purdue.edu/healthChatbot-backend" # Production backend URL
# Allow document uploads
UPLOADTHING_TOKEN=''